#menu-lateral-1 {
    background: #063f95;
    font-family: Arial, Helvetica, sans-serif;
    width: 15%;
    border-right: #000000 solid 1px;;

}
#contenedor{
    
    width: 85%;
    overflow-y: auto;
}
.menu-lateral-header{
    background-color: rgb(0, 0, 0);
}
.ml-1-adorno-1{
    width: 10px;
    height: 10px;
    background-color: #000000;
    clip-path: polygon(0% 0%,50% 100%, 100% 0%);
}

#menu-lateral-1 .seccion-titulo {
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    color: #333;
    padding-left:7%;
}

#menu-lateral-1 .menu-seccion-item {
    cursor: pointer;
    padding: 4% 0%; 
}
.menu-seccion-item a{
    color: #000000;
    padding-left:10%;
}
.menu-seccion-item:hover  {
    background-color: #ffffff;
    color: #3d3d3d;
    
}
.menu-seccion-item:hover a{
    color: #3d3d3d !important;
    
}

.menu-seccion {
    padding: 4% 0%; 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}